@model ProjetoPratico.Models.Colaborador

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Login</h2>
<div class="container">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true);
        <h2 class="form-signin-heading">Sistema de Gestão de Pessoas e Conhecimento</h2>
        <label for="inputEmail" class="sr-only">Usuário</label>
        
        @Html.TextBoxFor(a => a.login, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.login)
        <label for="inputPassword" class="sr-only">Senha</label>
        @Html.PasswordFor(a => a.senha, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.senha)
        <input type="submit" value="Entrar" />
        @Html.ActionLink("Entrar", "Index", "Home", new { @class = "btn btn-primary btn-block" })
    }
</div> 
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}