@model ProjetoPratico.Models.Atividade

@{
    ViewBag.Title = "Adicionar";   
}

<h2>Adicionar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Atividade</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prazo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prazo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prazo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_projeto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                     var db = new ProjetoPratico.Models.BancoEntities();
                  var projetos = from item in db.Projeto.ToList()
                  select new SelectListItem { Selected = false, Text = item.descricao, Value = item.id.ToString() };
                }
                @Html.DropDownListFor(model => model.id_projeto, projetos, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_projeto)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
                @Html.ActionLink("Voltar", "Index", "Atividades", new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
