@model ProjetoPratico.Models.Atividade

@{
    ViewBag.Title = "   Detalhes";    
}

<h2>Detalhes</h2>

<div>
    <h4>Atividade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_projeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_projeto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", "Atividades", new { id = Model.id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar", "Index", "Atividades", new { @class = "btn btn-default" })
</p>
