@model IEnumerable<ProjetoPratico.Models.Atividade>

@{
    ViewBag.Title = "Atividades";
}

<h2>Atividades</h2>
@{
    var db = new ProjetoPratico.Models.BancoEntities();
    var projeto = "";

}
<p>
    @Html.ActionLink("Adicionar Atividade", "Create", "Atividades", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_projeto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        projeto = db.Projeto.First(p => p.id == item.id_projeto).descricao;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prazo)
            </td>
            <td>

                @projeto
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-primary btn-xs" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.id }, new { @class = "btn btn-info btn-xs" }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
