@model IEnumerable<ProjetoPratico.Models.Colaborador>

@{
    ViewBag.Title = "Colaboradores";
}

<h2>Usuários cadastrados</h2>

<p>
    @Html.ActionLink("Adicionar Colaborador", "Adicionar", "Colaboradores", new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.funcao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.funcao)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ativo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.id }, new{@class = "btn btn-primary btn-xs"})
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.id }, new { @class = "btn btn-info btn-xs" })
                @Html.ActionLink("Excluir", "Excluir", new { id = item.id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
